<div class="app">

  <header class="header">
    <div class="logo">
      <img src="logos/laliga.png" class="logo-img"/>
      <span class="logo-text">{{ textos.header.logo }}</span>
    </div>
    <nav>
      <a class="active">{{ textos.nav.clasificacion }}</a>
      <a routerLink="/partidos">{{ textos.nav.partidos }}</a>
      <a routerLink="/equipos">{{ textos.nav.equipos }}</a>
    </nav>
    <div class="season">🏆 {{ textos.header.temporada }}</div>
  </header>

  <main class="container">
    <h1>{{ textos.clasificacion.titulo }}</h1>

    <div class="tabla">
      <div class="fila header-fila">
        <span class="col-pos">POS</span>
        <span class="col-equipo">EQUIPO</span>
        <span class="col-stat">PJ</span>
        <span class="col-stat">PG</span>
        <span class="col-stat">PE</span>
        <span class="col-stat">PP</span>
        <span class="col-stat col-hide">GF</span>
        <span class="col-stat col-hide">GC</span>
        <span class="col-stat col-hide">DG</span>
        <span class="col-pts">PTS</span>
      </div>

      @for (item of clasificacion; track item.id) {
        <div class="fila" [ngClass]="getClaseCompeticion(item.posicion)">
          <span class="col-pos">{{ item.posicion }}</span>
          <span class="col-equipo">
            <div class="col-equipo-inner">
              <img [src]="item.equipo.escudo" class="escudo" [alt]="item.equipo.nombre"/>
              {{ item.equipo.nombre }}
            </div>
          </span>
          <span class="col-stat">{{ item.partidosJugados }}</span>
          <span class="col-stat">{{ item.partidosGanados }}</span>
          <span class="col-stat">{{ item.partidosEmpatados }}</span>
          <span class="col-stat">{{ item.partidosPerdidos }}</span>
          <span class="col-stat col-hide">{{ item.golesFavor }}</span>
          <span class="col-stat col-hide">{{ item.golesContra }}</span>
          <span class="col-stat col-hide">{{ item.diferenciaGoles }}</span>
          <span class="col-pts">{{ item.puntos }}</span>
        </div>
      }
    </div>

    <div class="leyenda">
      <span><span class="dot champions-dot"></span> {{ textos.clasificacion.leyenda.champions }}</span>
      <span><span class="dot europa-dot"></span> {{ textos.clasificacion.leyenda.europa }}</span>
      <span><span class="dot conference-dot"></span> {{ textos.clasificacion.leyenda.conference }}</span>
      <span><span class="dot descenso-dot"></span> {{ textos.clasificacion.leyenda.descenso }}</span>
    </div>

  </main>
</div>