<div class="app">

  <header class="header">
    <div class="logo">
      <img src="logos/laliga.png" class="logo-img"/>
      <span class="logo-text">LaLiga App</span>
    </div>
    <nav>
      <a class="active">Clasificación</a>
      <a routerLink="/partidos">Partidos</a>
      <a routerLink="/equipos">Equipos</a>
    </nav>
    <div class="season">🏆 Temporada 2025/26 </div>
  </header>

  <main class="container">
    <h1>CLASIFICACIÓN</h1>

    <div class="tabla">

      <div class="fila header-fila">
        <span class="col-pos">POS</span>
        <span class="col-equipo">EQUIPO</span>
        <span class="col-stat">PJ</span>
        <span class="col-stat">PG</span>
        <span class="col-stat">PE</span>
        <span class="col-stat">PP</span>
        <span class="col-stat">GF</span>
        <span class="col-stat">GC</span>
        <span class="col-stat">DG</span>
        <span class="col-pts">PTS</span>
      </div>

      @for (item of clasificacion; track item.id) {
        <div class="fila" [ngClass]="getClaseCompeticion(item.posicion)">
          <span class="col-pos">{{ item.posicion }}</span>
          <span class="col-equipo">
            <img [src]="item.equipo.escudo" class="escudo" [alt]="item.equipo.nombre"/>
            {{ item.equipo.nombre }}
          </span>
          <span class="col-stat">{{ item.partidosJugados }}</span>
          <span class="col-stat">{{ item.partidosGanados }}</span>
          <span class="col-stat">{{ item.partidosEmpatados }}</span>
          <span class="col-stat">{{ item.partidosPerdidos }}</span>
          <span class="col-stat">{{ item.golesFavor }}</span>
          <span class="col-stat">{{ item.golesContra }}</span>
          <span class="col-stat">{{ item.diferenciaGoles }}</span>
          <span class="col-pts">{{ item.puntos }}</span>
        </div>
      }
    </div>

    <div class="leyenda">
      <span><span class="dot champions-dot"></span> Champions League</span>
      <span><span class="dot europa-dot"></span> Europa League</span>
      <span><span class="dot conference-dot"></span> Conference League</span>
      <span><span class="dot descenso-dot"></span> Descenso</span>
    </div>

  </main>
</div>