<div class="app">

  <header class="header">
    <div class="logo">
      <img src="logos/laliga.png" class="logo-img"/>
      <span class="logo-text">LaLiga App</span>
    </div>
    <nav>
      <a class="active">Clasificación</a>
      <a routerLink="/partidos">Partidos</a>
      <a routerLink="/equipos">Equipos</a>
    </nav>
    <div class="season">🏆 Temporada 2025/26</div>
  </header>

  <main class="container">
    <h1>CLASIFICACIÓN</h1>

    <div class="tabla">
      <div class="fila header-fila">
        <span class="col-pos">POS</span>
        <span class="col-equipo">EQUIPO</span>
        <span class="col-stat">PJ</span>
        <span class="col-stat">PG</span>
        <span class="col-stat">PE</span>
        <span class="col-stat">PP</span>
        <span class="col-stat">GF</span>
        <span class="col-stat">GC</span>
        <span class="col-stat">DG</span>
        <span class="col-pts">PTS</span>
      </div>

      <div class="fila champions">
        <span class="col-pos">1</span>
        <span class="col-equipo"><img src="https://crests.football-data.org/86.png" class="escudo"/>Real Madrid</span>
        <span class="col-stat">34</span><span class="col-stat">26</span><span class="col-stat">5</span>
        <span class="col-stat">3</span><span class="col-stat">71</span><span class="col-stat">22</span>
        <span class="col-stat">+49</span><span class="col-pts">83</span>
      </div>

      <div class="fila champions">
        <span class="col-pos">2</span>
        <span class="col-equipo"><img src="https://crests.football-data.org/81.png" class="escudo"/>FC Barcelona</span>
        <span class="col-stat">34</span><span class="col-stat">22</span><span class="col-stat">7</span>
        <span class="col-stat">5</span><span class="col-stat">68</span><span class="col-stat">33</span>
        <span class="col-stat">+35</span><span class="col-pts">73</span>
      </div>

      <div class="fila champions">
        <span class="col-pos">3</span>
        <span class="col-equipo"><img src="https://crests.football-data.org/78.png" class="escudo"/>Atlético Madrid</span>
        <span class="col-stat">34</span><span class="col-stat">21</span><span class="col-stat">6</span>
        <span class="col-stat">7</span><span class="col-stat">62</span><span class="col-stat">31</span>
        <span class="col-stat">+31</span><span class="col-pts">69</span>
      </div>

      <div class="fila champions">
        <span class="col-pos">4</span>
        <span class="col-equipo"><img src="https://crests.football-data.org/77.png" class="escudo"/>Athletic Club</span>
        <span class="col-stat">34</span><span class="col-stat">17</span><span class="col-stat">10</span>
        <span class="col-stat">7</span><span class="col-stat">54</span><span class="col-stat">34</span>
        <span class="col-stat">+20</span><span class="col-pts">61</span>
      </div>

      <div class="fila europa">
        <span class="col-pos">5</span>
        <span class="col-equipo"><img src="https://crests.football-data.org/94.png" class="escudo"/>Villarreal CF</span>
        <span class="col-stat">34</span><span class="col-stat">16</span><span class="col-stat">8</span>
        <span class="col-stat">10</span><span class="col-stat">56</span><span class="col-stat">45</span>
        <span class="col-stat">+11</span><span class="col-pts">56</span>
      </div>

      <div class="fila europa">
        <span class="col-pos">6</span>
        <span class="col-equipo"><img src="https://crests.football-data.org/92.png" class="escudo"/>Real Sociedad</span>
        <span class="col-stat">34</span><span class="col-stat">14</span><span class="col-stat">10</span>
        <span class="col-stat">10</span><span class="col-stat">48</span><span class="col-stat">38</span>
        <span class="col-stat">+10</span><span class="col-pts">52</span>
      </div>

      <div class="fila conference">
        <span class="col-pos">7</span>
        <span class="col-equipo"><img src="https://crests.football-data.org/90.png" class="escudo"/>Real Betis</span>
        <span class="col-stat">34</span><span class="col-stat">13</span><span class="col-stat">9</span>
        <span class="col-stat">12</span><span class="col-stat">43</span><span class="col-stat">40</span>
        <span class="col-stat">+3</span><span class="col-pts">48</span>
      </div>

      <div class="fila">
        <span class="col-pos">8</span>
        <span class="col-equipo"><img src="https://crests.football-data.org/95.png" class="escudo"/>Valencia CF</span>
        <span class="col-stat">34</span><span class="col-stat">11</span><span class="col-stat">12</span>
        <span class="col-stat">11</span><span class="col-stat">40</span><span class="col-stat">40</span>
        <span class="col-stat">0</span><span class="col-pts">45</span>
      </div>

      <div class="fila">
        <span class="col-pos">9</span>
        <span class="col-equipo"><img src="https://crests.football-data.org/79.png" class="escudo"/>Osasuna</span>
        <span class="col-stat">34</span><span class="col-stat">11</span><span class="col-stat">11</span>
        <span class="col-stat">12</span><span class="col-stat">37</span><span class="col-stat">44</span>
        <span class="col-stat">-7</span><span class="col-pts">44</span>
      </div>

      <div class="fila">
        <span class="col-pos">10</span>
        <span class="col-equipo"><img src="https://crests.football-data.org/83.png" class="escudo"/>Getafe CF</span>
        <span class="col-stat">34</span><span class="col-stat">10</span><span class="col-stat">12</span>
        <span class="col-stat">12</span><span class="col-stat">41</span><span class="col-stat">48</span>
        <span class="col-stat">-7</span><span class="col-pts">42</span>
      </div>

      <div class="fila">
        <span class="col-pos">11</span>
        <span class="col-equipo"><img src="https://crests.football-data.org/263.png" class="escudo"/>Rayo Vallecano</span>
        <span class="col-stat">34</span><span class="col-stat">10</span><span class="col-stat">11</span>
        <span class="col-stat">13</span><span class="col-stat">38</span><span class="col-stat">47</span>
        <span class="col-stat">-9</span><span class="col-pts">41</span>
      </div>

      <div class="fila">
        <span class="col-pos">12</span>
        <span class="col-equipo"><img src="https://crests.football-data.org/87.png" class="escudo"/>Sevilla FC</span>
        <span class="col-stat">34</span><span class="col-stat">9</span><span class="col-stat">13</span>
        <span class="col-stat">12</span><span class="col-stat">40</span><span class="col-stat">50</span>
        <span class="col-stat">-10</span><span class="col-pts">40</span>
      </div>

      <div class="fila">
        <span class="col-pos">13</span>
        <span class="col-equipo"><img src="https://crests.football-data.org/298.png" class="escudo"/>Girona FC</span>
        <span class="col-stat">34</span><span class="col-stat">10</span><span class="col-stat">9</span>
        <span class="col-stat">15</span><span class="col-stat">55</span><span class="col-stat">64</span>
        <span class="col-stat">-9</span><span class="col-pts">39</span>
      </div>

      <div class="fila">
        <span class="col-pos">14</span>
        <span class="col-equipo"><img src="https://crests.football-data.org/89.png" class="escudo"/>Celta de Vigo</span>
        <span class="col-stat">34</span><span class="col-stat">9</span><span class="col-stat">10</span>
        <span class="col-stat">15</span><span class="col-stat">40</span><span class="col-stat">55</span>
        <span class="col-stat">-15</span><span class="col-pts">37</span>
      </div>

      <div class="fila">
        <span class="col-pos">15</span>
        <span class="col-equipo"><img src="https://crests.football-data.org/250.png" class="escudo"/>Alavés</span>
        <span class="col-stat">34</span><span class="col-stat">9</span><span class="col-stat">9</span>
        <span class="col-stat">16</span><span class="col-stat">32</span><span class="col-stat">52</span>
        <span class="col-stat">-20</span><span class="col-pts">36</span>
      </div>

      <div class="fila">
        <span class="col-pos">16</span>
        <span class="col-equipo"><img src="https://crests.football-data.org/558.png" class="escudo"/>RCD Mallorca</span>
        <span class="col-stat">34</span><span class="col-stat">8</span><span class="col-stat">11</span>
        <span class="col-stat">15</span><span class="col-stat">30</span><span class="col-stat">48</span>
        <span class="col-stat">-18</span><span class="col-pts">35</span>
      </div>

      <div class="fila">
        <span class="col-pos">17</span>
        <span class="col-equipo"><img src="https://crests.football-data.org/80.png" class="escudo"/>Espanyol</span>
        <span class="col-stat">34</span><span class="col-stat">7</span><span class="col-stat">12</span>
        <span class="col-stat">15</span><span class="col-stat">33</span><span class="col-stat">52</span>
        <span class="col-stat">-19</span><span class="col-pts">33</span>
      </div>

      <div class="fila descenso">
        <span class="col-pos">18</span>
        <span class="col-equipo"><img src="https://crests.football-data.org/275.png" class="escudo"/>Las Palmas</span>
        <span class="col-stat">34</span><span class="col-stat">7</span><span class="col-stat">10</span>
        <span class="col-stat">17</span><span class="col-stat">32</span><span class="col-stat">55</span>
        <span class="col-stat">-23</span><span class="col-pts">31</span>
      </div>

      <div class="fila descenso">
        <span class="col-pos">19</span>
        <span class="col-equipo"><img src="https://crests.football-data.org/745.png" class="escudo"/>Leganés</span>
        <span class="col-stat">34</span><span class="col-stat">6</span><span class="col-stat">10</span>
        <span class="col-stat">18</span><span class="col-stat">28</span><span class="col-stat">58</span>
        <span class="col-stat">-30</span><span class="col-pts">28</span>
      </div>

      <div class="fila descenso">
        <span class="col-pos">20</span>
        <span class="col-equipo"><img src="https://crests.football-data.org/250.png" class="escudo"/>Valladolid</span>
        <span class="col-stat">34</span><span class="col-stat">4</span><span class="col-stat">8</span>
        <span class="col-stat">22</span><span class="col-stat">25</span><span class="col-stat">68</span>
        <span class="col-stat">-43</span><span class="col-pts">20</span>
      </div>

    </div>

    <div class="leyenda">
      <span><span class="dot champions-dot"></span> Champions League</span>
      <span><span class="dot europa-dot"></span> Europa League</span>
      <span><span class="dot conference-dot"></span> Conference League</span>
      <span><span class="dot descenso-dot"></span> Descenso</span>
    </div>

  </main>
</div>